body {
  min-width: 400px;
}

a {
  text-decoration: none;
}

.title {
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  font-size-adjust: auto;
  color: rgb(240, 180, 152);
  background-image: url("bgi/bg-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0;
  border: 0;
  text-transform: capitalize;
  text-shadow: 0.1em 0.1em #333;
}

ul {
  list-style: none;
}

ul.white {
	display: flex;
	background-color: rgb(170, 170, 180);
}

ul.nav {
  font-weight: bold;
  display: flex;
  text-shadow: 0.1em 0.1em #888;
  float: left;
}

ul.nav a {
  color: #333;
  display: block;
  padding: 0 20px;
  line-height: 25px;
}

ul.nav a:hover {
  color: #fff;
  background-color: #999;
}

ul.nav li:hover>a {
  color: #fff;
  background-color: #999;
  transition: 0.25s;
  -moz-transition: 0.25s; /* Firefox */
  -webkit-transition: 0.25s; /* Safari & Chrome */
  -o-transition: 0.25s; /* Opera */
}
/*global*/

ul.project li {
  position: relative;
  white-space: nowrap;
}

ul.project ul {
  display: none;
  position:absolute;
  z-index: 99;
  top: 100%;
  min-width: 30px;
  background-color: #999;
}

ul.project ul li {
  border-bottom: #888 1px solid;
}

ul.project ul li:last-child {
  border-bottom: none;
}

ul.project ul ul {
  z-index: 999;
  top: 10px;
  left: 90%;
}

ul.project li:hover>ul {
  display: block;
}

/* use to hide */
ul.Min_nav {
  display: none;
}

ul.Min_nav li {
  display: none;
}
/* use to hide */

.footer {
  margin-right: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  float: right;
}

.subti {
  text-transform: uppercase;
  font-weight: bold;
}

iframe {
  min-height: 40vmin;
	padding-left: 1rem;
}

#Cap {
  color: #e44;
  font-weight: bold;
}

#subtitle {
  line-height: 1.4em;
  color: rgb(200, 120, 60);
  padding-top: 0;
  padding-bottom: 0;
}

#sub {
  font-size: 1.2rem;
}
