// helpers/_mixin.sass

=noPaddingMargin
  margin: 0
  padding: 0
  @content

=flexColumn($justify:space-around, $align:center)
  display: flex
  flex-flow: column wrap
  justify-content: $justify
  align-items: $align
  @content

=contentSpaceAround
  justify-content: space-around
  &::before, &::after
    content: ''
  @content

=setMiddle
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  @content

=stickyTop($pos: false)
  position: sticky
  left: 0
  right: 0
  @if $pos
    top: $pos+px
  @else
    top: 0