a, a:visited, a:active, a:hover, a:link
  color: $mainDark

body
  position: relative
  // height: 300vh
  *
    font-family: 'Noto Sans TC', 'Roboto', sans-serif
    outline: none

ul,ol,dl
  color: $mainDark
  list-style: none

.trans4s
  transition: .4s

.clearfix::after
  content: ''
  visibility: hidden
  display: block
  clear: both

.center_all
  justify-content: center
  align-items: center

.hidden_obj
  display: none

.img_contain
  width: auto
  height: 100%
  object-fit: contain