* {
	margin:0;
	padding:0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
	margin-top: 1.5rem;
  line-height: 26px;
}

a {
  text-decoration: none;
}

p {
	font-size: 0.9rem;
  line-height: 26px;
}

div div {
	padding-left: 1rem;
}

.subti {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

a:link, a:visited {
	font-weight: 600;
	color: #e88;
}

a:hover {
	padding: 6px 0;
	background-color: #ddd;
	border-radius: 4px;
	transition: 0.25s;
  -moz-transition: 0.25s; /* Firefox */
  -webkit-transition: 0.25s; /* Safari & Chrome */
  -o-transition: 0.25s; /* Opera */
}

#Cap {
  color: #e44;
  font-weight: bold;
}

#subtitle {
  line-height: 1.4em;
  color: rgb(200, 120, 60);
}
